<!-- Navbar Component -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <i class="bi bi-flower1 me-2 text-warning"></i>Bal Arısı
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" id="nav-home" href="index.html">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-about" href="about.html">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-products" href="products.html">Ürünlerimiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-blog" href="blog.html">Arıcılık Bilgisi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-contact" href="contact.html">İletişim</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
